<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li {{ app.request.get('_route') == 'homepage' ? 'active' }}"><a href="{{ path('homepage') }}">Գլխավոր</a></li>
                <li class="{{ app.request.get('_route') == 'products' ? 'active' }}"><a href="{{ path('products',{'paginate': 1 }) }}">Տեսականի</a></li>
                <li class="{{ app.request.get('_route') == 'view ' ? 'active' }}"><a href="{{ path('view') }}">Վճարում</a></li>
                <li ><a href="#">Կապ</a></li>
                <li><a href="#">Մեր Մասին</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->